doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/scripts/main.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='/styles/scripts/main.js')
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  body
     header
      h1 
       i.fas.fa-globe  |  Simulador de Inversiones
      main
        form#investment-form
          .form-row
            .form-group
              label(for='investment-type') Tipo de Inversión
              select#investment-type(name='investmentType')
                option(value='acciones') Acciones
                option(value='bonos') Bonos
                option(value='bienes-raices') Bienes Raíces
                option(value='metales') Metales Preciosos
                option(value='criptomonedas') Criptomonedas
            .form-group
              label(for='initial-amount') Monto Inicial
              input#initial-amount(type='number', name='initialAmount', placeholder='Monto inicial')
            .form-group
              label(for='rate-percentage') Porcentaje de Rendimiento
              input#rate-percentage(type='number', name='ratePercentage', placeholder='Porcentaje (%)', min='0', step='0.01')

          .form-row
            .form-group
              label(for='monthly-contribution') Monto de la Aportación
              input#monthly-contribution(type='number', name='monthlyContribution', placeholder='Monto de la aportación')
            .form-group
              label(for='contribution-type') Tipo de Aportación
              select#contribution-type(name='contributionType')
                option(value='mensual') Mensual
                option(value='trimestral') Trimestral
                option(value='anual') Anual
            .form-group
              label(for='duration') Duración
              input#duration(type='number', name='duration', placeholder='Duración')
            .form-group
              label(for='duration-type') Tipo de Duración
              select#duration-type(name='durationType')
                option(value='meses') Meses
                option(value='anios') Años
                option(value='decadas') Décadas
          button#simulate-btn(type='button') Simular

        section#results
          h2 Resultados de la Simulación
          canvas#investment-chart(width='400', height='200')
          table#results-table
            thead
              tr
                th Tipo de Inversión
                th Monto Inicial
                th Aportaciones Totales
                th Rendimiento Total
                th Valor Final
                th Tasa Anualizada
            tbody
      footer
        p © 2025 Simulador de Inversiones