doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1= message
    p Selecciona una opción para comenzar.
    a(href="/seleccionar-inversion") Ir a Selección de Inversiones
