doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/scripts/main.css')
  body
    header
      h1 Simulador de Inversiones
    main
      form#investment-form
        label(for='investment-type') Tipo de Inversión
        select#investment-type(name='investment-type')
          option(value='acciones') Acciones
          option(value='bonos') Bonos
          option(value='bienes-raices') Bienes Raíces
          option(value='metales') Metales Preciosos
          option(value='criptomonedas') Criptomonedas
          option(value='bitcoin') Bitcoin 
          option(value='ethereum') Ethereum
        label(for='initial-amount') Monto Inicial
        input#initial-amount(type='number', name='initial-amount', placeholder='Monto inicial')
        label(for='monthly-contribution') Aportación Mensual
        input#monthly-contribution(type='number', name='monthly-contribution', placeholder='Aportación mensual')
        label(for='duration') Duración (años)
        input#duration(type='number', name='duration', placeholder='Duración en años')
        button(type='submit') Simular
    footer
      p © 2025 Simulador de Inversiones
