// Variables de colores
$primary-color: #1E3A8A; // Azul oscuro
$secondary-color: #2563EB; // Azul medio
$accent-color: #60A5FA; // Azul claro
$background-color: #F3F4F6; // Gris claro
$text-color: #1F2937; // Gris oscuro
$white-color: #ffffff;

// Estilos generales
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
}

header {
  background-color: $primary-color;
  color: $white-color;
  padding: 1.5rem;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2rem;
  }
}

main {
  margin: 2rem;
  padding: 1rem;
  background-color: $white-color;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// Formulario
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  // border: 1px solid red;

  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .form-group {
      flex: 1 1 200px; // Asegura flexibilidad con un ancho mínimo de 200px

      display: flex;
      flex-direction: column;

      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      input, select {
        padding: 0.75rem;
        border: 1px solid $primary-color;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }

  button {
    align-self: flex-start;
    padding: 0.75rem 1.5rem;
    background-color: $secondary-color;
    color: $white-color;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      // background-color: darken($secondary-color, 10%);
    }
  }
}

// Resultados
#results {
  margin-top: 2rem;
  color: $primary-color;
  h2 {
    color: $primary-color;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  canvas {
    margin: 1rem 0;
    border: 1px solid $accent-color;
    border-radius: 5px;
    background-color: $white-color;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: $white-color;
    border: 1px solid $primary-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    th, td {
      padding: 0.75rem;
      text-align: center;
      border: 1px solid $accent-color;
    }

    th {
      background-color: $primary-color;
      color: $white-color;
    }

    td {
      background-color: $background-color;
    }
  }
}

footer {
  text-align: center;
  background-color: $primary-color;
  color: $white-color;
  padding: 1rem;

  p {
    margin: 0;
  }
}
